*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 1%;
    display: flex;
    flex-direction: column;
}
main > .topic{
    flex-basis: 47.5%;
    margin: 1%;
}
main > .topic > .topics-container {
    display: flex;
    flex-wrap: wrap;
}
.topics-container {
    display: flex;
    flex-wrap: wrap;
}
.sub-topics {
    display: flex;
    margin: .5% ;
    
}
.sub-topics > .topic{
    display: flex;
    flex-basis: 47%;
    flex-direction: column;
    margin: .5% .5%;
}
main>.topic>a.drop-topic {
    border: 2px solid black;
    display: inline-flex;
    text-decoration: none;
    width: 50%;
}
.sub-topics > .topic a.drop-topic {
    display: inline-flex;
    text-decoration: none;
    width: 50%;
}
.topics-container > .project {
    display: block;
    text-decoration: none;
    color: black;
    flex-basis: 10%;
    border: 1px solid black;
    height: fit-content;
    padding: 1%;
    max-height: 20vh;
    font-size: 70%;
}
.project img {
    width: 100%;
    /* border: 2px solid black; */
    height: 90%;
    object-fit: cover;
}
.drop-topic:active,.drop-topic:focus,
.project:active,.project:focus{
    box-shadow: 0 0 20px 2px orange;
}
.hide{
    display: none
    ;
}