*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{display: flex;}
header > * {}
header > .vid-container{border: 1px solid black;}
main{
    margin: 1%;
    display: flex;
    flex-direction: column;
}
main > .topic{
    flex-basis: 47.5%;
    margin: 1%;
}
main>.topic>a.drop-topic {
    border: 2px solid black;
    display: inline-flex;
    text-decoration: none;
    width: 50%;
}
.topic > .topics-container > .topic{
    border: 2px solid magenta;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.topics-container > .project {
    /* text-decoration: none; */
    /* padding: 1%; */
    /* color: black; */
    /* flex-basis: 5%; */
    /* border: 1px solid blue; */
    /* height: fit-content;     */
    /* font-size: 70%; */
    /* flex: 1; */
}
.project img {
    display: none;
    max-height: 30px;
    width: 100%;
    height: 90%;
}
.sub-topics-container {
    display: flex;
    margin: .5%;
    border: 2px solid orange;
}

.sub-topics-container > .project {
    display: flex;
    flex-basis: 27.5%;
    flex-direction: column;
    margin: .5% .5%;
}
.sub-topics-container > .topic a.drop-topic {
    display: inline-flex;
    text-decoration: none;
    width: 50%;
}
.topics-container>.project {
    /* text-decoration: none;
    padding: 1%;
    color: black;
    flex-basis: 10%;
    border: 1px solid blue;
    display: block;
    height: fit-content;
    font-size: 70%; */
}


.drop-topic:active,.drop-topic:focus,
.project:active,.project:focus{
    box-shadow: 0 0 20px 2px orange;
}
.hide{
    display: none ;
}