header article {
    /* border: 2px solid blue; */
    padding: 1% 2%
}
header article p {
    /* border: 2px solid blue;  */
    margin-top: 8px;
    line-height: .98;
    font-size: 1.1rem;
}
.copy-code {
    
}
.topics-questions {
    margin: 0 1.5%;
}
/* .dropQuestion */
.drop-topic {
    text-decoration: none;
    color: white;
    width: 80%;
    border: 1px solid black;
    border: white 1px solid ;
    display: inline-block;
    padding: 1%;
    padding-left: 2%;
    padding-right: 5%;
    margin-bottom: 1%;
}
.question-answer{
    color: black;
}
.question-answer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    /* background-color: yellow; */
    font-family: 
    'ui-sans-serif','-apple-system','system-ui','Segoe UI',
    'Helvetica','Arial','sans-serif';       
}
.question-txt > h6{
    color: white;
}
.question-answer >.question-txt{
    color: black;
    border-radius: 10px;
    margin-bottom: 1%;
    padding: 1%;   
    margin-left: 30%;
    
}
.question-txt > .text-base > .whitespace-pre-wrap {
    background-color: whitesmoke;
    border: 1px solid lavender;
    line-height: 1.33;
    font-style: bold;
    font-weight: 550;
    font-size: 95%;
    width: 100%;
}

.question-txt >.text-base>.whitespace-pre-wrap> .copy-code {
    white-space: normal;
    width: 100%;
    padding: 1% 2%;
    /* text-wrap: wrap; */
    white-space: wrap;
    max-height: 200px;
    overflow-y: scroll;
}
.hide {
    display: none;
}
@media screen and (min-width:700) {
    body {
        background-color: blue;
    }
    .question-answer >.question-txt{
        background-color: blue;
    }
}
@media screen and(max-width:600) {
    .question-txt >.text-base>.whitespace-pre-wrap> .copy-code {
        word-wrap: wrap;
    }
    body {
        position: relative;
    }
    .question-answer{
        float: right;
        position: absolute;
        top: 0;
        background-color: white;
    }
    
    
}