body {

    background: blue;
}
body > header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    padding:  0 2.5%;
    background-color: blue;
}
#homelink{
    display: inline-block;
    margin: 2% 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5% 5%;
    padding-right:25%;
    text-wrap: nowrap;
    font-size: 500%;
    /* white-space: none; */
    /* width: fit-content; */
    width: 100%;
    text-decoration: none;
    font-size: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

